<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts 1 Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Fonts 2 思源黑體-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- Classify-List -->
  <div class="container">
    <ul class="clasify-list d-flex">
      <li><a href="./index.html">OPTICAL</a></li>
      <li class="shadow"><a href="#">SUNGLASSES</a></li>
      <li><a href="#">FUNCTIONAL</a></li>
    </ul>
  </div>
  <!-- banner -->
  <div class="banner d-flex mb-80">
      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true" alt="">
      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true" alt="">
  </div>
  <!-- content -->
  <div class="main">
    <div class="container">
      <div class="title">
        <h2 class="h2">2020 NEW COLLECTION</h2>
        <p class="h3">賽璐珞鈦金屬混合鏡框</p>
      </div>
      <div class="card-list d-flex">
        <div class="column"> <!-- 容器 -->
          <div class="card"> <!-- 內容 -->
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="">
            <div class="card-text d-flex jc-sb">
              <p>BJ41600S</p>
              <p class="color-main">NTD3,490</p>
            </div>
            <div class="color d-flex">
              <div class="card-color1 mr-1"></div>
              <div class="card-color2"></div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <!-- 內容 -->
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="">
            <div class="card-text d-flex jc-sb">
              <p>BJ41600S</p>
              <p class="color-main">NTD3,490</p>
            </div>
            <div class="color d-flex">
              <div class="card-color1 mr-1"></div>
              <div class="card-color2"></div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <!-- 內容 -->
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="">
            <div class="card-text d-flex jc-sb">
              <p>BJ41600S</p>
              <p class="color-main">NTD3,490</p>
            </div>
            <div class="color d-flex">
              <div class="card-color1 mr-1"></div>
              <div class="card-color2"></div>
            </div>
          </div>
        </div>

        <div class="column"> <!-- 容器 -->
          <div class="card"> <!-- 內容 -->
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="">
            <div class="card-text d-flex jc-sb">
              <p>BJ41600S</p>
              <p class="color-main">NTD3,490</p>
            </div>
            <div class="color d-flex">
              <div class="card-color1 mr-1"></div>
              <div class="card-color2"></div>
            </div>
          </div>
        </div>

        <div class="column"> <!-- 容器 -->
          <div class="card"> <!-- 內容 -->
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="">
            <div class="card-text d-flex jc-sb">
              <p>BJ41600S</p>
              <p class="color-main">NTD3,490</p>
            </div>
            <div class="color d-flex">
              <div class="card-color1 mr-1"></div>
              <div class="card-color2"></div>
            </div>
          </div>
        </div>

        <div class="column"> <!-- 容器 -->
          <div class="card"> <!-- 內容 -->
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="">
            <div class="card-text d-flex jc-sb">
              <p>BJ41600S</p>
              <p class="color-main">NTD3,490</p>
            </div>
            <div class="color d-flex">
              <div class="card-color1 mr-1"></div>
              <div class="card-color2"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <ul class="pagination d-flex jc-center">
      <li><a href="#">上一頁</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">下一頁</a></li>
    </ul>
  </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
